<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/css/gameEnd.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

</head>
<body>
    <div class="wrap" id ="wrap">
        <div class="title">
            <% var quiz = data %>
            <% if(quiz.type == "ox"){%>ox<%}%>
            <% if(quiz.type == "fourWord"){%>네글자 이어말하기<%}%>
            <% if(quiz.type == "knowledge"){%>상식퀴즈<%}%>
            <% if(quiz.type == "nonsense"){%>넌센스<%}%>
            <% if(quiz.type == "flag"){%>국기 맞히기<%}%>
            <% if(quiz.type == "movie"){%>영화<%}%>
            <% if(quiz.type == "drama"){%>드라마<%}%>
            <% if(quiz.type == "dance"){%>댄스곡<%}%>
            <% if(quiz.type == "food"){%>음식<%}%>
            <% if(quiz.type == "anniversary"){%>기념일<%}%>
            <% if(quiz.type == "hobby"){%>취미<%}%>
            <% if(quiz.type == "job"){%>직업<%}%>
            <% if(quiz.type == "sports"){%>스포츠<%}%>
            <% if(quiz.type == "animal"){%>동물<%}%>
            <% if(quiz.type == "emotion"){%>감정<%}%>
            <% if(quiz.type == "instrument"){%>악기<%}%>
            <% if(quiz.type == "proverb"){%>속담<%}%>
            <% if(quiz.type == "person"){%>인물<%}%>
            <% if(quiz.type == "object"){%>물건<%}%>
            <% if(quiz.type == "actionGame"){%>줄줄이 말해요<%}%>           
           
        </div>
        <a href="/"><img src="/public/img/home.png" alt="홈으로" class="homeb"></a>
       
        <br>
       
            <p>문제를 다 풀었습니다!</p>
       
        <hr class="shortline">
        <br><br>
        <div class="container">
            <div class="group">
                <% if(quiz.type == "ox"){%>
                    <a href="/quiz/ox"><div><button class="category">더 풀기</button></div></a>
                <%}%>

                <% if(quiz.type == "fourWord"){%>
                    <a href="/quiz/fourWord"><div><button class="category">더 풀기</button></div></a>

                <%}%>

                <% if(quiz.type == "nonsense"){%>
                    <a href="/quiz/nonsense"><div><button class="category">더 풀기</button></div></a>
                <%}%>
                
                <% if(quiz.type == "knowledge"){%>
                    <a href="/quiz/knowledge"><div><button class="category">더 풀기</button></div></a>
                <%}%>

                <% if(quiz.type == "flag"){%>
                    <a href="/quiz/flag"><div><button class="category">더 풀기</button></div></a>
                <%}%>

                <% if(quiz.type == "movie"){%>
                    <a href="/teamSelect/movie"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "drama"){%>
                    <a href="/teamSelect/drama"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "dance"){%>
                    <a href="/teamSelect/dance"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "food"){%>
                    <a href="/teamSelect/food"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "anniversary"){%>
                    <a href="/teamSelect/anniversary"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "hobby"){%>
                    <a href="/teamSelect/hobby"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "job"){%>
                    <a href="/teamSelect/job"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "sports"){%>
                    <a href="/teamSelect/sports"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "animal"){%>
                    <a href="/teamSelect/animal"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "emotion"){%>
                    <a href="/teamSelect/emotion"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                        
                <% if(quiz.type == "instrument"){%>
                    <a href="/teamSelect/instrument"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "proverb"){%>
                    <a href="/teamSelect/proverb"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "person"){%>
                    <a href="/teamSelect/person"><div><button class="category">더 풀기</button></div></a>
                <%}%>
        
                <% if(quiz.type == "object"){%>
                    <a href="/teamSelect/object"><div><button class="category">더 풀기</button></div></a>
                <%}%>

                <% if(quiz.type == "actionGame"){%>
                    <a href="/teamSelect/actionGame"><div><button class="category">더 풀기</button></div></a>
                <%}%>
                <div><a href="/"><button class="category">끝내기</button></div></a>
            </div>
        </div>


        <br><br><br>
          
        

    </div>
    <script>
      window.onload=function(){
        let wrap = document.getElementById("wrap")
        if(sessionStorage.getItem("team")){
          let rankDiv = document.createElement("div")
          rankDiv.className="rank_title"
          rankDiv.textContent="랭킹"

          let img = document.createElement("img")
          img.src="/public/img/rank.png"
          img.className="rank_image"

          let rankCon = document.createElement("div")
          rankCon.className="container_rank"

          let rank = document.createElement("div")
          rank.className="rank"

          let text1 = document.createElement("div")
          text1.className="text1"
          text1.textContent="순위"

          let text2 = document.createElement("div")
          text2.className="text2"
          text2.textContent="팀명"

          let text3 = document.createElement("div")
          text3.className="text3"
          text3.textContent="점수"

          wrap.appendChild(rankDiv)
          rankDiv.append(img)
          wrap.appendChild(rankCon)
          rankCon.appendChild(rank)
          rank.appendChild(text1)
          rank.appendChild(text2)
          rank.appendChild(text3)

          let teams = JSON.parse(sessionStorage.getItem("team"))
        
          let type = sessionStorage.getItem("type")

          var score = []
          for(let i = 0; i<teams.length; i++){
            let checkTeam = JSON.parse(sessionStorage.getItem(teams[i]))
            if(type == 'mind'){
              score.push(parseInt(checkTeam.mind))
            } else if(type == 'body'){
              score.push(parseInt(checkTeam.body))
            } else if(type == 'actiongame'){
              score.push(parseInt(checkTeam.actiongame))
            } else if(type == 'draw'){
              score.push(parseInt(checkTeam.draw))
            } else if(type == 'fourword'){
              score.push(parseInt(checkTeam.fourword))
            } else if(type == 'knowledge'){
              score.push(parseInt(checkTeam.knowledge))
            } else if(type == 'ox'){
              score.push(parseInt(checkTeam.ox))
            } else if(type == 'nonsense'){
              score.push(parseInt(checkTeam.nonsense))
            } else if(type == 'flag'){
              score.push(parseInt(checkTeam.flag))
            }

          }

          score.sort(function(a,b){return a-b})
          score.reverse()
          var teamList = []
          maxScore = score[0]
          color = 0

          for(let j = 0; j<score.length; j++){
            for(let i = 0; i<teams.length; i++){
            let totalTeam = JSON.parse(sessionStorage.getItem(teams[i]))
            if(teamList.includes(teams[i])){
              continue
            }

            let team_ = 0

            if(type == 'mind'){
              team_ = totalTeam.mind
            } else if(type == 'body'){
              team_ = totalTeam.body
            } else if(type == 'actiongame'){
              team_ = totalTeam.actiongame
            } else if(type == 'draw'){
              team_ = totalTeam.draw
            } else if(type == 'fourword'){
              team_ = totalTeam.fourword
            } else if(type == 'knowledge'){
              team_ = totalTeam.knowledge
            } else if(type == 'ox'){
              team_ = totalTeam.ox
            } else if(type == 'nonsense'){
              team_ = totalTeam.nonsense
            } else if(type == 'flag'){
              team_ = totalTeam.flag
            }

            if(score[j]==team_){
              var teamDiv = document.createElement("div")
              teamDiv.className = "rank"

              var teamCircle = document.createElement("div")
              teamCircle.className = "circle"
              if(score[j]!=maxScore){color += 1; maxScore = score[j]}
              if(color==0){
                teamCircle.style.backgroundColor="gold"
              }else if(color==1){
                teamCircle.style.backgroundColor="silver"
              } else if(color==2){
                teamCircle.style.backgroundColor="#DE844F"
              }else{
                teamCircle.style.backgroundColor="#F6F6F6"
              }
              teamCircle.textContent = color+1

              var teamName = document.createElement("div")
              teamName.className = "first_team"
              teamName.textContent = teams[i]

              var teamScore = document.createElement("div")
              teamScore.className = "Score"
              teamScore.textContent = team_

              var hr = document.createElement("hr")
              hr.className="line_Rank"

              rankCon.appendChild(teamDiv)
              teamDiv.appendChild(teamCircle)
              teamDiv.appendChild(teamName)
              teamDiv.appendChild(teamScore)
              rankCon.appendChild(hr)

              teamList.push(teams[i])
              break
            }
            else{
              continue
            }
          }
        }

      }

    }


    </script>

</body>
</html>


    

