<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEAM SELECT</title>
    <link rel="stylesheet" href="/public/css/teamSelect.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    
    <div class="top">
      <h1 class="top_title">팀 선택</h1>

      <div class="home">
        <a href="/">
          <img class="home" src="/public/img/home.png" alt="홈으로" />
        </a>
      </div>
    </div>
    

    <section>
      <hr class="line" color="black" size="5" />
    </section>

  
    <p class="title">게임에 참가할 팀을 선택하세요</p>
    
    <form action="/gameTimerSetting" method="post">
        <div class="container" id="teamList" >

        </div>  

        <div class="team_Service">
            <input type="image" src="/public/img/right.png" alt="다음으로" class="right">
        </div>
    </form>

    <script>
      window.onload=function(){
        if(!sessionStorage.getItem("team")){
          document.location.href="/gameTimerSetting"
        }
        if(sessionStorage.getItem("team")){
          let teamList = document.getElementById("teamList")
          let teams = JSON.parse(sessionStorage.getItem("team"))

          for(let i = 0; i<teams.length; i++){
            var teamDiv = document.createElement("div")
            teamDiv.className = "set"

            var teamName = document.createElement("div")
            teamName.className = "team_Name"
            teamName.textContent=teams[i]

            var teamCheck = document.createElement("input")
            teamCheck.type = "checkbox"
            teamCheck.className = "check"
            teamCheck.name = "team"
            teamCheck.value = teams[i]

            teamList.appendChild(teamDiv)
            teamDiv.appendChild(teamName)
            teamDiv.appendChild(teamCheck)
          }
        }
      }
    </script>
  </body>
</html>
