<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEAM SELECT</title>
    <link rel="stylesheet" href="/public/css/team_Select.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    
    <div class="top">
      <h1 class="top_title">팀 선택</h1>

      <div class="home">
        <a href="/">
          <img class="home" src="/public/img/home.png" alt="홈으로" />
        </a>
      </div>
    </div>
    

    <section>
      <hr class="line" color="black" size="5" />
    </section>

  
    <p class="title">게임에 참가할 팀을 선택하세요</p>
    
    <form action="/gameTimerSetting" method="post">
        <div class="container">
            <% var name = data %>
            <% for(var i = 0; i < name.length; i++){%>
                <div class="set">
                    <div class="team_Name">
                        <%= name[i].name %>
                    </div>
                    <input type="checkbox" name = "name" value="<%= name[i].name %>" class="check"></input><br/>
                </div>
            <%}%> 
        </div>  
    
     
        <div class="team_Service">
            <input type="image" src="/public/img/right.png" alt="다음으로" class="right">
        </div>
    </form>

  </body>
</html>
